<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            type="text/css"
            href="../../static/CSS/user_main_page.css"
        />
        <title>Страница обучающегося</title>
    </head>
    <body>
        <div class="main-window">
            <div class="header">
                <div class="label-class">
                    <label>Обучающая система по дисциплине «Теория игр»</label>
                </div>
            </div>
            <div class="main-block">
                <div class="head">
                    <div class="welcome">
                        <span>Добро пожаловать, {{student_name}}!</span>
                    </div>
                    <div class="head-buttons">
                        <div class="profile-button">
                            <a href="chat">
                                <div class="img-div">
                                    <img
                                        src="../../static/images/chat-icon.png"
                                        alt=""
                                    />
                                </div>
                                <span>Чат</span>
                            </a>
                        </div>
                        <div class="profile-button">
                            <a href="game">
                                <div class="img-div">
                                    <img
                                        src="../../static/images/game-icon.png"
                                        alt=""
                                    />
                                </div>
                                <span>Игра</span>
                            </a>
                        </div>
                        <div class="profile-button">
                            <a href="profile">
                                <div class="img-div">
                                    <img
                                        src="../../static/images/user-icon.png"
                                        alt=""
                                    />
                                </div>
                                <span>Профиль</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="workspace">
                    <div class="theme-selector">
                        <span>Выберите тему</span>
                        <div class="theme-list">
                            {% for index, item in lessons.iterrows() %}
                            <a href="{{item['Id_tema']}}"
                                ><div class="theme">
                                    <span>{{item['Name_tema']}}</span>
                                </div></a>
                            {% endfor %}
                            <hr />
                            <strong>Дополнительные материалы</strong>
                            <hr />
                            {% for index, item in DopMaterial.iterrows() %}
                            <a href="{{item['Id_tema']}}">
                                {{item['Name']}}:
                                <div class="theme">
                                    <span>{{item['Name_tema']}}</span>
                                </div> </a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="theme-viewer">
                        <div class="theme-page">
                            <h3>Тема: {{lesson_content[0]}}</h3>
                            <p>{{lesson_content[1]|safe}}</p>
                            <br />
                            {% if lesson_content[2]!= None %}
                            <h3>Практическое задание</h3>
                            <p>{{ lesson_content[2]|safe}}</p>
                            <br />
                            <input
                                type="text"
                                placeholder="Введите ответ"
                                id="answer_field"
                            />
                            <input
                                type="hidden"
                                id="answer"
                                value="{{lesson_content[3]}}"
                            />
                            <button id="check_answer_button">Проверить</button>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <script src="../../static/script/auth.js"></script>
        <script src="../../static/script/check_answer.js"></script>
    </body>
</html>
