* {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
body {
    background-color: #ebeaea;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}
h3 {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main-window {
    min-width: 900px;
    min-height: 450px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 85%;
    height: 90%;
    margin: 0 auto;
    background-color: #f1f1f1;
    border-radius: 15px;
    justify-content: space-between;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.452);
}
.main-window h3 {
    text-align: left;
    font-weight: 500;
    font-size: 16pt;
}
.main-window > .header {
    display: flex;
    align-items: center;
    text-align: left;
    min-height: 43px;
    font-size: 12pt;
    max-height: 43px;
    border-radius: 15px 15px 0 0;
    background-color: #e4e1e1;
}
.label-class {
    height: 60%;
    width: 93%;
    margin: 0 auto;
}
.main-block {
    width: 100%;
    height: 100%;
}
.head {
    margin-top: 15px;
    height: 12%;
    display: flex;
    flex-direction: row;
}
.welcome {
    display: flex;
    text-align: left;
    /* margin-left: 35px; */
    align-items: center;
}
.welcome span {
    height: 60%;
    width: 80%;
    font-size: 16pt;
}
.head-buttons {
    display: flex;
    flex-direction: row;
    width: 10%;
    /* margin-right: -650px; */
}
.head-buttons img {
    width: 90%;
    height: 90%;
}
.chat-button {
    width: 50px;
    height: 50px;
    margin: 0 10px;
}
.game-button {
    width: 50px;
    height: 50px;
    margin: 0 10px;
}
.profile-button {
    /*было по 50*/
    width: 75px;
    height: 75px;
    margin: 0 10px;
}
.img-div {
    display: flex;
    border: 1px black solid;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    /* нововведение */
    width: 50px;
    height: 50px;
    margin-left: 15px;
}
.head-buttons span {
    display: block;
    width: 100%;
    height: 40%;
    text-align: center;
    font-size: 10pt;
}
.workspace {
    display: flex;
    flex-direction: row;
    height: 85%;
    width: 95%;
    margin: 0 auto;
}
.search {
    height: auto;
    flex-direction: row;
    margin-bottom: 10px;
}
.user-selector input {
    height: auto;
    width: 60%;
    font-size: 11pt;
}
.user-selector button {
    height: auto;
    width: 15%;
    font-size: 11pt;
}
.user-viewer {
    flex-basis: 185%;
    overflow: auto;
    background-color: #e4e1e1;
    border-radius: 10px;
    border: 1.5px solid black;
    margin-top: 40px;
    height: 85%;
    width: 80%;
    padding: 5px;
}
.user-viewer * {
    height: auto;
    width: auto;
    margin: 8px;
    font-size: 13pt;
}
.profile-buttons {
    text-align: end;
}
.user-viewer button {
    padding: 5px;
}
.user-selector {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    max-width: 390px;
    max-height: 620px;
}
.user-selector span {
    font-size: 15pt;
    margin: 10px 0;
    height: 5%;
}
.user-list {
    height: 78%;
    width: 80%;
    background-color: #e4e1e1;
    border-radius: 10px;
    border: 1.5px solid black;
}
.user {
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
    height: 8%;
    margin: 3%;
    width: 94%;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.user span {
    font-size: 12pt;
    height: 75%;
    width: 90%;
    margin: 0;
    padding: 0;
}
.user:hover {
    background-color: #f1f1f1;
}
.img-div:hover {
    background-color: #e4e1e1;
}
.user-page {
    overflow: auto;
    height: 90%;
    width: 85%;
    background-color: white;
    margin: 0 auto;
    padding: 1.5em;
    border: thin black solid;
}
.user-page h3 {
    font-size: 16pt;
    height: 2em;
}
.user-page p {
    text-align: justify;
    height: auto;
}
.user-page input {
    height: auto;
    width: auto;
    font-size: 14pt;
    margin: 2px;
    padding: 3px;
}
.user-page button {
    height: auto;
    width: auto;
    font-size: 13pt;
    margin: 2px;
    padding: 4px;
}
.exit-button {
    margin-right: 50px;
    text-align: end;
}

.exit-button button {
    margin-top: 10px;
    width: auto;
    height: auto;
    font-size: 14pt;
    padding: 5px;
}
