* {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background-color: #ebeaea;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}
h3 {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.auth-window {
    min-width: 420px;
    min-height: 450px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 70%;
    margin: 0 auto;
    background-color: #f1f1f1;
    border-radius: 15px;
    justify-content: space-between;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.452);
}
.auth-window h3 {
    text-align: center;
    font-weight: 500;
    font-size: 20pt;
}
.auth-window > .header {
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 12pt;
    max-height: 43px;
    border-radius: 15px 15px 0 0;
    background-color: #e4e1e1;
}
.label-class {
    height: 60%;
    width: 90%;
    margin: 0 auto;
}
.auth > .text {
    height: 15%;
    padding: 5vh;
}
.auth > .auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 70%;
    text-align: center;
}
.auth-form input {
    height: 20pt;
    font-size: 16pt;
    padding: 3px;
    margin: 10px;
    width: 95%;
    max-width: 350px;
}
.auth-form label {
    padding: 3vh;
}
.auth-form button {
    width: 40%;
    height: 60%;
    max-height: 40px;
    min-width: 100px;
    background-color: #e4e1e1;
    border-radius: 10px;
    border: 2px solid #d6d3d3;
    margin: 10px;
    font-size: 12pt;
}
.auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
}
.auth > .text h3 {
    margin-top: 3vh;
}
