* {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
body {
    background-color: #ebeaea;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}
h3 {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main-window {
    min-width: 900px;
    min-height: 450px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 85%;
    height: 90%;
    margin: 0 auto;
    background-color: #f1f1f1;
    border-radius: 15px;
    justify-content: space-between;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.452);
}
.main-window h3 {
    text-align: center;
    font-weight: 500;
    font-size: 20pt;
}
.main-window > .header {
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 12pt;
    max-height: 43px;
    border-radius: 15px 15px 0 0;
    background-color: #e4e1e1;
}
.label-class {
    height: 60%;
    width: 90%;
    margin: 0 auto;
}
.main-block {
    width: 100%;
    height: 100%;
}
.head {
    margin-top: 15px;
    height: 12%;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
.welcome {
    display: flex;
    text-align: left;
    justify-content: center;
    align-items: center;
}
.welcome span {
    height: 60%;
    width: 80%;
    font-size: 16pt;
}
.head-buttons {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-right: 20px;
    width: 40%;
    margin-left: 20px;
}
.head-buttons img {
    width: 100%;
    height: 100%;
}
.chat-button {
    width: 50px;
    height: 50px;
    margin: 0 10px;
}
.game-button {
    width: 50px;
    height: 50px;
    margin: 0 10px;
}
.profile-button {
    width: 50px;
    height: 50px;
    margin: 0 10px;
}
.img-div {
    display: flex;
    border: 1px black solid;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.head-buttons span {
    display: block;
    width: 100%;
    height: 40%;
    text-align: center;
    font-size: 10pt;
}
.workspace {
    display: flex;
    flex-direction: row;
    height: 85%;
    width: 95%;
    margin: 0 auto;
}
.theme-viewer {
    flex-basis: 185%;
    overflow: hidden;
    background-color: #e4e1e1;
    border-radius: 10px;
    border: 1.5px solid black;
    margin-top: 40px;
    height: 85%;
    width: 80%;
}
.theme-selector {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    max-width: 390px;
    max-height: 620px;
}
.theme-selector span {
    font-size: 15pt;
    margin: 10px;
    height: 5%;
}
.theme-list {
    height: 85%;
    width: 80%;
    background-color: #e4e1e1;
    border-radius: 10px;
    border: 1.5px solid black;
}
.theme {
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
    height: 8%;
    margin: 3%;
    width: 94%;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.theme span {
    font-size: 12pt;
    height: 75%;
    width: 90%;
    margin: 0;
    padding: 0;
}
.theme:hover {
    background-color: #f1f1f1;
}
.img-div:hover {
    background-color: #e4e1e1;
}
.theme-page {
    overflow: scroll;
    scrollbar-width: none;
    height: 90%;
    width: 85%;
    background-color: white;
    margin: 0 auto;
    padding: 1.5em;
    border: thin black solid;
}
.theme-page h3 {
    font-size: 16pt;
    height: 2em;
}
.theme-page p {
    text-align: justify;
    height: auto;
}
.theme-page input {
    height: auto;
    width: auto;
    font-size: 14pt;
    margin: 2px;
    padding: 3px;
}
.theme-page button {
    height: auto;
    width: auto;
    font-size: 13pt;
    margin: 2px;
    padding: 4px;
}
.add-theme {
    padding-right: 2px;
    padding-left: 2px;
    margin-left: 10px;
    color: green;
    background-color: rgb(181, 242, 222);
    border-radius: 25%;
}
.theme-list hr {
    width: 80%;
    margin: 5px auto;
    height: auto;
}
