<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            type="text/css"
            href="../../static/CSS/user_profile.css"
        />
        <title>Игра</title>
    </head>
    <body>
        <div class="main-window">
            <div class="header">
                <div class="label-class">
                    <label>Обучающая система по дисциплине "Теория игр"</label>
                </div>
            </div>
            <div class="main-block">
                <div class="head">
                    <div class="head-buttons">
                        <div class="profile-button">
                            <a href="{{url_for('main_page')}}">
                                <div class="img-div">
                                    <img
                                        src="../../static/images/back-icon.png"
                                        alt=""
                                    />
                                </div>
                                <span>Назад</span>
                            </a>
                        </div>
                    </div>
                    <div class="welcome">
                        <span>Игра</span>
                    </div>
                </div>

                <div class="workspace">
                    <div class="game">
                        <label>Здесь могла быть ваша игра</label>
                    </div>
                </div>
            </div>
        </div>

        <script src="../../static/script/auth.js"></script>
    </body>
</html>
