<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            type="text/css"
            href="../../static/CSS/user_main_page.css"
        />
        <title>Страница обучающегося</title>
    </head>
    <body>
        <div class="main-window">
            <div class="header">
                <div class="label-class">
                    <label>Обучающая система по дисциплине "Теория игр"</label>
                </div>
            </div>
            <div class="main-block">
                <div class="head">
                    <div class="welcome">
                        <span>Добро пожаловать, student1!</span>
                    </div>
                    <div class="head-buttons">
                        <div class="profile-button">
                            <a href="profile.html">
                                <div class="img-div">
                                    <img
                                        src="../../static/images/user-icon.png"
                                        alt=""
                                    />
                                </div>
                                <span>Профиль</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="workspace">
                    <div class="theme-selector">
                        <span>Выберите тему:</span>
                        <div class="theme-list">
                            <div class="theme">
                                <span>1.1. Название темы</span>
                            </div>
                            <div class="theme">
                                <span>1.2. Название темы</span>
                            </div>
                            <div class="theme">
                                <span>1.3. Название темы</span>
                            </div>
                        </div>
                    </div>
                    <div class="theme-viewer">
                        <div class="theme-page">
                            <h3>Тема: Диплом - ЭТО ПРОСТО. БИМ-БИМ, БАМ-БАМ</h3>
                            <p>
                                Lorem ipsum dolor sit, amet consectetur
                                adipisicing elit. Iusto alias accusantium
                                perferendis, culpa nesciunt excepturi qui
                                dolores delectus neque ipsam! Maiores, et
                                praesentium laudantium dolorum excepturi
                                architecto suscipit est culpa! Lorem ipsum dolor
                                sit amet consectetur adipisicing elit. Ea,
                                consequuntur neque corrupti quidem ratione porro
                                quod nisi, delectus ut autem adipisci, veritatis
                                nobis hic! Quo commodi magni dicta aliquid
                                numquam?Lorem ipsum dolor, sit amet consectetur
                                adipisicing elit. Atque ducimus accusantium
                                suscipit ut consequuntur, id corporis maxime
                                dolores esse sit sequi amet ullam reiciendis
                                odit quas delectus. Consequatur, autem
                                praesentium.lo Lorem ipsum dolor sit amet,
                                consectetur adipisicing elit. Ratione, quod!
                                Eaque, deleniti iusto nihil quasi ipsam
                                quibusdam quae iste, numquam magnam similique
                                eveniet accusantium nam itaque? In tempora ab
                                magni. Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Reprehenderit, quo voluptatum
                                porro numquam illum maxime ipsa corrupti quia
                                sed eos itaque et minima similique laborum.
                                Labore quam officiis facilis blanditiis? Lorem
                                ipsum dolor sit amet consectetur, adipisicing
                                elit. Quibusdam voluptas cum in sequi est ab
                                harum, rem laboriosam esse eveniet odit vel hic
                                dolores aliquam, sed atque, labore voluptatibus
                                quisquam?Lorem ipsum dolor, sit amet consectetur
                                adipisicing elit. Nihil, repellat debitis
                                perspiciatis sequi consectetur, fugiat
                                asperiores possimus aut libero doloremque quos
                                quod assumenda tempora commodi? Impedit sapiente
                                eligendi ratione accusamus?Lorem ipsum dolor sit
                                amet consectetur adipisicing elit. Accusamus
                                iusto vitae repudiandae error perspiciatis
                                eveniet quaerat aut placeat alias. Alias enim
                                sapiente similique accusamus tenetur rem
                                dignissimos amet labore magni?Lorem ipsum dolor
                                sit amet consectetur adipisicing elit. Corporis,
                                maiores earum. Hic reiciendis molestiae ipsa
                                veritatis magni enim in, adipisci vel ratione
                                officia labore, culpa iure! Quod, sequi.
                                Reprehenderit, iure.lor Lorem ipsum dolor sit
                                amet consectetur adipisicing elit. Neque totam
                                cumque eligendi sequi, eveniet esse saepe nulla
                                voluptatibus, non reprehenderit deserunt officia
                                odit consequatur sunt atque tenetur omnis sint
                                facilis! Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Voluptatibus, mollitia quas
                                cupiditate repudiandae, reiciendis quaerat
                                blanditiis facere repellendus magnam assumenda
                                necessitatibus omnis adipisci, eligendi
                                consectetur asperiores aliquid iste delectus
                                itaque.lor Lorem ipsum, dolor sit amet
                                consectetur adipisicing elit. Quis voluptatem ea
                                optio, dolore totam nam rem sequi perferendis
                                doloremque accusamus doloribus, corrupti nemo
                                porro, molestiae dolorem sed? Ipsa, explicabo
                                tempore! Lorem, ipsum dolor sit amet consectetur
                                adipisicing elit. Eligendi est tenetur
                                necessitatibus nostrum, sint fugit rem aliquid
                                quidem eaque quis itaque molestias nisi ut culpa
                                ipsum, fuga numquam officiis. Odit! Lorem ipsum
                                dolor, sit amet consectetur adipisicing elit.
                                Ratione suscipit corporis, optio magni iure rem
                                numquam saepe, pariatur quaerat molestias
                                repellat animi dolore expedita eligendi.
                                Voluptatem dolorem impedit recusandae animi?
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="../../static/script/auth.js"></script>
    </body>
</html>
