<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            type="text/css"
            href="../../static/CSS/user_main_page.css"
        />
        <title>Страница обучающегося</title>
    </head>
    <body>
        <div class="main-window">
            <div class="header">
                <div class="label-class">
                    <label>Обучающая система по дисциплине "Теория игр"</label>
                </div>
            </div>
            <div class="main-block">
                <div class="head">
                    <div class="welcome">
                        <span>Добро пожаловать, student1!</span>
                    </div>
                    <div class="head-buttons">
                        <div class="chat-button">
                            <div class="img-div">
                                <img
                                    src="../../static/images/chat-icon.png"
                                    alt=""
                                />
                            </div>
                            <span>Чат</span>
                        </div>
                        <div class="game-button">
                            <div class="img-div">
                                <img
                                    src="../../static/images/game-icon.png"
                                    alt=""
                                />
                            </div>
                            <span>Игра</span>
                        </div>
                        <div class="profile-button">
                            <div class="img-div">
                                <img
                                    src="../../static/images/user-icon.png"
                                    alt=""
                                />
                            </div>
                            <span>Профиль</span>
                        </div>
                    </div>
                </div>
                <div class="workspace">
                    <div class="theme-selector">
                        <span>Выберите тему:</span>
                        <div class="theme-list">
                            <div class="theme">
                                <span>1.1. Название темы</span>
                            </div>
                            <div class="theme">
                                <span>1.2. Название темы</span>
                            </div>
                            <div class="theme">
                                <span>1.3. Название темы</span>
                            </div>
                        </div>
                    </div>
                    <div class="theme-viewer"></div>
                </div>
            </div>
        </div>
        <script src="../../static/script/auth.js"></script>
    </body>
</html>
