<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            type="text/css"
            href="../../static/CSS/main.css"
        />
        <title>Регистрация</title>
    </head>
    <body>
        <div class="auth-window">
            <div class="header">
                <div class="label-class">
                    <label>Обучающая система по дисциплине "Теория игр"</label>
                </div>
            </div>
            <div class="auth">
                <div class="text">
                    <h3>Регистрация</h3>
                </div>
                <div class="auth-form">
                    <div class="username">
                        <label for="username">Имя пользователя:</label><br />
                        <input
                            type="text"
                            id="username"
                            placeholder="Введите имя пользователя"
                        /><br />
                        <label for="password">Пароль:</label><br />
                        <input
                            type="password"
                            id="password"
                            placeholder="Введите пароль"
                        /><br />
                        <label for="password">Повторите пароль:</label><br />
                        <input
                            type="password"
                            id="password"
                            placeholder="Введите пароль"
                        /><br />
                    </div>
                    <div class="buttons">
                        <a href="auth.html">
                            <button type="submit" name="return">Обратно</button>
                        </a>
                        <a href="auth.html">
                            <button type="submit" name="reg">
                                Регистрация
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <script src="../../static/script/auth.js"></script>
    </body>
</html>
